<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ 'global.site_name' | trans }} - {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('icons/favicon.ico') }}" type="image/x-icon">
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script>
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark')
            }
        </script>
        {% endblock %}
</head>
<body>
{% include '_partials/_flash_messages.html.twig' %}
{% include '_partials/_navbar.html.twig' %}
<div class="main min-h-screen flex flex-col gap-8 pt-20 ">
    <main class="w-full m-auto my-4 flex-grow px-4">
        {% block body %}{% endblock %}
    </main>
</div>
{% include '_partials/_footer.html.twig' %}
</body>
</html>
